{%extends "layout.html" %}
{% block content %}
  <div >
    <form class="d-flex py-10 px-12">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my" type="submit">Search</button>
    </form>
  </div>

  <div class="flex justify-end">
    <button class="btn btn-success rounded-xl mx-5 my-8 " type="button">YOUR CART</button>
  </div>
  <div class="card-group mx-8" >
    <div class="card mx-8"  >
      <img src="{{ data[4] }}" class="card-img-top " style="height: 300px;" alt="TELEVISION">
      <div class="card-body ">
        <h3 class="card-title font-bld">{{ data[1] }}</h3>
        <p class="card-text"> price={{ data[2] }}</p>
        <p class="card-text"><small class="text-muted">{{ data[3] }}</small></p>
      
           
    
           <a href="{{url_for('productinfo',var=data[0])}}">
            <button class="btn btn-success" type="button">ADD TO CART</button></a>
        
          
             
      </div>
    </div>
    <div class="card mx-8">
      <img src="{{ mata[4] }}" class="card-img-top" style="height: 300px;" alt="...">
      <div class="card-body">
        <h5 class="card-title font-bold ">{{ mata[1] }}</h5>
        <p class="card-text"> price={{ mata[2] }}</p>
        <p class="card-text"><small class="text-muted"> {{ mata[3] }}</small></p>
        <a href="{{url_for('productinfo',var=mata[0])}}">
          <button class="btn btn-success  " type="button">ADD TO CART</button></a>
      </div>
    </div>
  
  <div class="card mx-8" >
    <img src="{{ tata[4] }}" class="card-img-top" style="height: 300px;" alt="fridge">
    <div class="card-body">
      <h5 class="card-title font-bold">{{ tata[1] }}</h5>
      <p class="card-text">price={{ tata[2] }}</p>
      <p class="card-text"><small class="text-muted">{{ tata[3] }}</small></p>
      <a href="{{url_for('productinfo',var=tata[0])}}">
        <button class="btn btn-success " type="button">ADD TO CART</button></a>
    </div>
  </div>
  </div>
  </div>
  </div>
  
          
{% endblock content%}