{% extends "layout.html" %}
{% block content %}
<div class="">
    <h1 class="text-center font-extrabold justify-center my-10" style="font-size: xx-large;"> ADD PRODUCTS </h1>
  </div>
  <div style="width: 500px; height: auto; border: 2px solid #000; border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);" class=" mx-96 my-7  py-9 mb-3 w-72">
    <form class="container justify-items-center mx-28 " method="post" action="{{url_for('bac.insert')}} ">
      {{ form.hidden_tag() }}
      <div class="mb-3 w-72 justify-center form-group">
        {{ form.name.label(for="username",class='font-extrabold' ) }}
        {{ form.name(id="username", class="form-label form-control ") }}
        {% if form.name.errors %}
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
  
      <div class="mb-3 w-72 justify-center form-group">
        {{ form.price.label(for="gmail",class="font-extrabold") }}
        {{ form.price(id="gmail", class="form-label form-control ") }}
        {% if form.price.errors %}
        <ul>
          {% for error in form.price.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
  
      <div class="mb-3 w-72 justify-center form-group">
        {{ form.description.label(for="password",class='font-extrabold') }}
        {{ form.description(id="password", class="form-label form-control") }}
        {% if form.description.errors %}
        <ul>
          {% for error in form.description.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
  
      <div class="mb-3 w-72 justify-center form-group">
        {{ form.photo.label(for="name",class="font-extrabold") }}
        {{ form.photo(id="name", class="form-label form-control") }}
        {% if form.photo.errors %}
        <ul>
          {% for error in form.photo.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
  
    <div class="mb-3 w-72 justify-center form-group">
      {{ form.quantity.label(for="pass",class='font-extrabold') }}
      {{ form.quantity(id="pass", class="form-label form-control") }}
      {% if form.quantity.errors %}
      <ul>
        {% for error in form.quantity.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

  
        {{ form.submit(class="btn btn-success", type='submit') }}
      
        
      
    
  
  <div>

       <a href="{{url_for('crud')}}">
       <button type="button" class="btn btn-danger mx-6 my-9">Back to admin panel</button> </a>
  </div>
</form>
</div>
  
  
  
  
{% endblock content %}