{% extends "layout.html" %}
{% block content %}



<div class="form-group mx-96 my-11 py-3" style="width: 500px; height: auto; border: 2px solid #000; border-radius: 15px;  box-shadow: 0 4px 8px rgba(0,0,0,0.2); ">
  <h1 class="text-center font-extrabold justify-center" style="font-size: xx-large;"> REGISTER </h1>

  <form class="container justify-items-center mx-24 " method="post" action="{{url_for('reg')}} ">

    {{ form.hidden_tag() }}
    <div class="mb-3 w-72 justify-center form-group">
      {{ form.name.label(for="username",class='font-extrabold' ) }}
      {{ form.name(id="username", class="form-label form-control ") }}
      {% if form.name.errors %}
      <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="mb-3 w-72 justify-center form-group">
      {{ form.email.label(for="gmail",class="font-extrabold") }}
      {{ form.email(id="gmail", class="form-label form-control ") }}
      {% if form.email.errors %}
      <ul>
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="mb-3 w-72 justify-center form-group">
      {{ form.password.label(for="password",class='font-extrabold') }}
      {{ form.password(id="password", class="form-label form-control") }}
      {% if form.password.errors %}
      <ul>
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="mb-3 w-72 justify-center form-group">
      {{ form.phone_no.label(for="phone_no",class="font-extrabold") }}
      {{ form.phone_no(id="phone_no", class="form-label form-control") }}
      {% if form.phone_no.errors %}
      <ul>
        {% for error in form.phone_no.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="mb-3 w-72 justify-center form-group">
      {{ form.password_conform.label(for="password_confirm",class="font-extrabold") }}
      {{ form.password_conform(id="password_confirm", class="form-label font-extrabold form-control") }}
      {% if form.password_conform.errors %}
      <ul>
        {% for error in form.password_conform.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}



      {{ form.submit(class="btn btn-success", type='submit') }}
    
      <h3 class="font-extrabold text-yellow-900"> ALREADY REGISTERED LOGIN BELOW</h3>
    </div>
  </form>
</div>

<div class="d-flex justify-content-between">
{%if session.get('name') %}
     <a href="{{url_for('logout')}}">
     <button type="button" class="btn btn-danger mx-11">LOGOUT </button> </a>
  {% else %}   
    <a href="{{url_for('login')}}">
    <button type="button" class="btn btn-danger mx-11">LOGIN</button> </a>
  {% endif %}

<a href="{{url_for('admin')}}">
  <button type="button" class="btn btn-danger mx-10">LOGIN AS ADMIN </button>
    </a>
    <!-- <a href="{{url_for('logout')}}">
      <button type="button" class="btn btn-danger mx-11">LOGOUT</button> </a> -->
</div>




{% endblock content %}