{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h2>Order Information</h2>

        {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Phone Number</th>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Product Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order[0] }}</td>
                    <td>{{ order[1] }}</td>
                    <td>{{ order[2] }}</td>
                    <td>{{ order[3] }}</td>
                    <td>{{ order[4] }}</td>
                    <td>{{ order[5] }}</td>
                    <td>{{ order[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No orders found.</p>
        {% endif %}
    </div>

{% endblock content %}